input {
    width: 300px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid gray;
    border-right: none;
}

input:focus {
    outline: none;
}

button {
    width: 50px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid gray;
    background-color: rgb(66, 168, 216);
    font-weight: bold;
}