form {
    margin-top: 30px;
}

input {
    width: 250px;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
}

input:focus {
    outline: none;
}

button {
    border-radius: 0 5px 5px 0;
    background-color: rgb(66, 178, 230);
    font-weight: bold;
    border-left: none;
}

input,
button {
    padding: 8px 15px;
    border: 1px solid gray;
}